site_name: CoRA Docs
#site_url: http://www.mkdocs.org
site_description: CoRA documentation with Markdown.
site_author: Sachin Pawaskar

repo_url: https://github.com/spawaskar-cora/cora-docs-mkdocs
edit_uri: ""

pages:
    - Home: index.md
    - User Guide:
        - Site Navigation: user-guide/site-navigation.md
        - Orgs Users Projects: user-guide/orgs-users-projects.md
        - Users Roles Permissions: user-guide/users-roles-permissions.md
        - Modules: user-guide/modules.md
        - Skeletal Elements: user-guide/skeletalelements.md
        - DNA: user-guide/dnas.md
        - Reports: user-guide/reports.md
        - Dashboards: user-guide/dashboards.md
    - Forensic Anthro Guide:
        - Field Attributes: forensics-anthro-guide/field-attributes.md
        - Methods: forensics-anthro-guide/methods.md
        - Measurements: forensics-anthro-guide/measurements.md
        - Zones: forensics-anthro-guide/zones.md
    - About:
        - Contributing: about/contributing.md
    - AAFS 2018 Conference: aafs-2018/readme.md

theme: mkdocs
theme_dir: 'custom_theme'

#extra_css:
#    - css/extra.css

#markdown_extensions:
#    - toc:
#        permalink: ÔÉÅ
#    - admonition
#    - def_list

# copyright: Copyright &copy; 2016 - 2018 <a href="https://sachinpawaskaruno.github.io">Sachin Pawaskar</a>, Maintained by the <a href="/about/release-notes/#maintenance-team">CoRA Team</a>.
# google_analytics: ['UA-27795084-5', 'mkdocs.org']

#plugins:
#    - search
